.container{
  min-height: 600px;
}
.tables {
    border-radius: 20%;
    height: 25vw;
    border: 1.6px black solid;
    margin: 12px;
    margin-bottom: 7%;
    text-align: center;
    font-size: 1.3em;
    line-height: 3.3em;
}
.occupied{
  background-color: rgb(203, 203, 203);
}

/*KITCHEN */

.kitchen-red{
  background-color: #f74848;
}
.kitchen-yellow{
  background-color: yellow;
}
.kitchen-green{
  background-color: lightgreen;
}
.kitchen-orders{
  padding-left: 0px;
  border: 1px black solid;
}
.order-time{
  display: none;
}

.party-orders:nth-child(even){
  background-color: lightgrey;


}
.party-orders-table{
  margin-bottom: 1%;
}

.center-block {
    text-align: center;
    margin: 20px;
}

.order-button{
  margin-top: 1%;
  padding: 6px;

  margin-left: -7.5%;
}
.remove-order-button{
  font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.create-party-form {
    margin-top: 13px;
    margin-bottom: 13px;
}
body{
  font-family: 'Lora', serif;
  font-size: 17px;
}
.create-button{
  margin-bottom: 20px;
}
h1{
  margin-top: 10px;
  margin-bottom: 0px;
}
.table-header{
  margin-bottom: 10px;
}
.special-request{
  width: 35%;
  padding-left: 8px;
  padding-right: 0px;
}
.food-names{
  padding-left: 0px;
  list-style-type: none;
}

.add-order-button {
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 15px;

}

.print-button {

  padding: 8px;
}
.tip{
  font-weight: bold;
}

.receipt-back {
    padding: 5px;
    margin: 11px -7px 0px 3px;

}
.receipt-order-list{
  list-style-type: none;
  padding-left:0;
}

.receipt-header{
  margin-bottom: -20px;
}

.party-size-receipt{
  margin-left: 60%;
}

.party-edit-header{
  margin-bottom: 10px;
}
.new-food-button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -5%;
    margin-top: 2%;
}

.order-dropdown-links:hover{
  text-decoration: none;
}
