.tables{
  border-radius: 50%;
  background-color: brown;
  width: 80px;
  height: 80px;
}

.kitchen-red{
  background-color: red;
}
.kitchen-yellow{
  background-color: yellow;
}


.occupied{
  background-color: lightblue;
}
