<h1 class="table-header">Edit Food</h1>


<form action="/foods/<%=@food.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label >Name:</label>
    <input type="text" class="form-control" name="food[name]" value="<%=@food.name%>">
  </div>
  <div class="form-group">
    <label >Type:</label>
    <input type="text" class="form-control" name="food[cuisine_type]" value="<%=@food.cuisine_type%>">
  </div>
  <div class="form-group">
    <label >Price:</label>
    <input type="text" class="form-control" name="food[price]" value="<%=@food.price%>">
  </div>

  <div class="center-block">
<button type="submit" class="btn btn-primary btn-lg">Update</button>
  </div>

</form>
