<h2>Create a food</h2>

<form action="/foods" method="post">
  <input type="text" name="food[name]" placeholder="..name">
  <input type="text" name="food[cuisine_type]" placeholder="..cuisine type">
  <input type="text" name="food[price]" placeholder="..price">
  <input type="text" name="food[allergens]" placeholder="..allergens">
  <input type="text" name="food[more_info]" placeholder="..more_info">
  <input type="submit" value="Create">

</form>
