





<div class="row party-edit-header">


<a class="col-xs-1 receipt-back btn-primary btn-lg print-button glyphicon glyphicon-menu-left" href="/parties/<%=@party.id%>"> </a>
<h1 class="col-xs-10">Party Edit</h1>
</div>




<form action="/parties/<%=@party.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label >Guess Count:</label>
    <input type="text" class="form-control" name="party[guest_count]" value="<%=@party.guest_count%>">
  </div>

  <div class="checkbox">
    <label>
      <input  type="checkbox" name="party[paid]" value="TRUE"> Bill paid?
    </label>
  </div>
  <div class="center-block">
<button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>

</form>
